.single-post{
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  position: relative;

  &:hover{
    background: #ECEFF1;
    text-decoration: none;
  }

  .post-image{
    position: absolute;
    top: 2.5px;
    right: 20px;
    height: 95px;
    width: 100px;
    // background: no-repeat center/80% url("../images/voteByBike/bike0.jpg");

    img{
      width:90%;
    }
  }

  .post-title{
    font-size: 20px;
    color: #607D8B;
    font-weight: 300;
  }

  .author-details{
    overflow: auto;
    margin-top: 15px;
  }
}
